name: CI
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build Docker image
        run: docker build -t aws-cli-toolbox .
      - name: Test Docker image
        run: docker run --rm aws-cli-toolbox aws --version
